
body {
  background-image:url('acid_dream.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  color: #00FF00;
  font-family: "Courier New", "Andale mono", monospace;
  font-size: 1em;
}

.hidden {
  display: none;

}

#main_window {

  position: relative;
  width: 700px;
  margin: auto;
  height: 300px;
  margin-top: 23%;
  margin-bottom: 100px;
  border: 5px solid gold;
  background: black;
  opacity: 0.9;
}


#state_picture {
  height: 220px;
}

#welcome {
  position: relative;
  width: 100%;
  text-align: center;
}

#login {
  width: 100%;
}

#welcome h1 {
  font-size: 2em;
}

#welcome h2 {
  font-size: 1em;
}

p {
  border: 2px solid gold;
  height: 250px;
  position: absolute;
  top: 200px;
  width: 100%;
}

input {
  border: 0px;
  width: 300px;
  font-size: 20px;
  border: 2px solid gold;
}

#story_box {
  margin: 5px 0px 10px 0px;
  text-align: center;
}

#typing_box {
  position: absolute;
  left: 0px;
  top: 500px;
}
